.logbody {
    background-image: url(/src/assets/images/grey-triangle-pattern-seamless-background-1.jpg);

}
.login {
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background-color: rgba(31, 31, 31, 0.199);
    backdrop-filter: blur(8px);
    width: 60%;
    margin-bottom: 100px;
    
}

.mb-2 {
    color: whitesmoke;
}
