@use './custom';


@use './vendor';
@use './abstracts'; 
@use './pages';


html {
    scroll-behavior: smooth;
  }
  

/* No CSS *//*# sourceMappingURL=style.css.map */
#intro {
    background-image: url("../assets/images/bank.jpeg");
    height: 100vh;
    animation: expand .8s ease forwards;
    transition: all .8s ease;
    

  }
.container-fluid{
    padding: 0%;
}
 
  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

/* .navbar{
    background-image: linear-gradient(62deg, #517958 0%, #729494 100%);
} */

#intro{
    background-color: #2D9E3F;
}

body {
    background-color: #93BF58;
    color: #EDF0EE;
    overflow-x: hidden ;
}
.navbar-brand {
    padding-left: 30px;
}
.dollars{
    max-height: 100%;
    width: 100%;
  display: flex;  
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;

}
.dollars img{
    animation: dollar 7s linear infinite;
}

@keyframes dollar{
    0%{
       
        transform: translateY(0);
        opacity:0;

    }
    5%{

        transform: translateY(0);
        opacity:1;
        
    }
    70%{
        transform: translateY(0);
        opacity:1;
        
    }
    100%{
        transform: translateY(-80vh);
        opacity:0;
        
    }
}

.dollars img:nth-child(1){
    animation-delay: 1s;
}
.dollars img:nth-child(2){
    animation-delay: 1.5s;
}
.dollars img:nth-child(3){
    animation-delay: 2.5s;
}
.dollars img:nth-child(4){
    animation-delay: 3s;
}
.text-black{
    background-color: rgba(33, 33, 36, 0.856);
    padding: 60px 30px;
    border-radius: 7px;
}
.col-lg-6 {
    padding-left: 50px;
    padding-right: 30px;
}
.textblack {
    .mb-4{
        color: whitesmoke;
    }
}

.navbar{
    z-index: 10;
}



@keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);

    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
        opacity: 0%;
      transform: translateY(300px);
    }
    100% {opacity: 100%;
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  .container{
    animation: slideIn 1.5s ease-in-out forwards;
  }

 h1{
    transform: translateY(500px);
    animation: slideUp .8s ease-in-out forwards .8s;
    
 }
 h5{
    transform: translateY(500px);
    animation: slideUp .8s ease-in-out  forwards 1s;
 }


.btn1{
    transform: translateY(700px);
    animation: slideUp .8s ease-in-out forwards 1.2s;
}




.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }